<table >
  <tr>
    <th>Type</th>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>
  <% @connections.each do |connection| %>
  <tr>
    <td><%=connection.c_type%></td>
    <td><%=connection.name%></td>
    <td><%=link_to "Delete", user_connection_path(params[:id],connection.id), method: "delete" %></td>
    <td><%= link_to "Add", user_tasks_path(params[:id], :title=>("Catch Up: "+connection.name) ), method: "post" %></td>
  </tr> 
  <% end %>
</table>