<table >
  <tr>
    <th>Type</th>
    <th>Title</th>
    <th>Notes</th>
    <th></th>
  </tr>
  <% @tasks.each do |task| %>
  <tr>
    <td><%=task.t_type%></td>
    <td><%=task.title%></td>
    <td><%=task.notes%></td>
    <td><%=link_to "Delete", user_task_path(params[:id],task.id), method: "delete" %></td>
  </tr> 
  <% end %>
</table>