<h1>Net:Workr</h1>
<p>
Net:Workr was founded in 2014 with the mission of guiding talented professionals find their next role in life through purposeful networking.  
<p>
We are based in New York City.  


<h3>Executive Team:  </h3>

Executive Chairman & CEO:  Michael K. Wagner <br \>
Vice President Partnerships and Vendor Relationships:  Michael K. Wagner <br \>
Senior VP Lunch Menu Selection:  Michael K. Wagner <br \>
Office Decorator:  Michael K. Wagner <br \>
Director of Casual Fridays(Winter Intern):  Michael K. Wagner <br \>