


<div id="title">Welcome to Net:Workr</div>
<div id="homepage">
  <div class="box">
  <p>Problem:</p> 
  LinkedIn is an excellent rolodex, but your professional network is smaller and more intimate.  Your tool to manage these relationships must be different.  
  </div>
  <div class="box">
  <p>Solution:</p>  
  A Systemic Application for you to manage your high leverage relationships.  
  </div>
  <div class="box">
  <p>Our Mission:</p>  
  Create opportunities to purposefully connect others 
  </div>
</div>

<br />
<% if session[:user_id].nil? %>
  <div class="sign_in">  
  <%= link_to "Sign Up and Begin Your Journey" , new_user_path, :class => "link" %>
  </div>
<%end%>
