<h1 id="title">Welcome to Net:Workr</h1>

<div class="box">
Problem: 
LinkedIn is an excellent rolodex, but your professional network is smaller and more intimate.  Your tool to manage these relationships must be different.  
</div>
<div class="box">
Solution:  
A Systemic Application for you to manage your high leverage relationships.  
</div>
<div class="box">
Our Mission:  
Create opportunities to purposefully connect others 
</div>

<br />

 <p><%= link_to "Begin the Journey", new_user_path %></p>


