<h1>Welcome to Net:Workr</h1>

<br \>
Problem Space: LinkedIn is an excellent rolodex, but your professional network is smaller and more intimate.  Your tool to manage these relationships must be different.  
<br \>
Solution:  A Systemic Application for you to manage your high leverage relationships.  
<br \>
Our Mission:  Create opportunities to purposefully connect others 