<div id="problem_panel">
  <div id="problem_title">
    <div id="left">netWORKER</div> 
    <div id="right">Brought to you by waglab</div>
  </div>
  <div id="problem_left">
    <p>Network Smarter.  And return to making an impact.</p> 
    NETworker guwdes talented individuals through the networking process-- smoothly and purposefully.  Allowing them to dedicate more time to their other passions.
    <ul>
      <li>Identify high impact relationships using the LinkedIn API </li>
      <li>Create custom tasks or choose from our library </li> 
      <li>Discover relevant events to expand your network. </li>
    </ul>
  </div>
  <div id="problem_right">
    
  </div>
</div>
<div id="cta1_panel">

  Bring order to your networking efforts.  Sign up now.
</div>
<div id="how_it_works_panel">
  <div id="panel_1"></div> 
  <div id="panel_2"></div>
  <div id="panel_3"></div>
</div>
<div id="cta2_panel">
  
</div>



