/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#title {
  text-align: center;
}

#homepage {
  margin: 0 auto;
}

#sign_in {
  float: right;
}

.box { 
  display: inline-block;
  float: left;
  margin: 30px;
  border-style: solid;
  width: 300px;
  height: 200px;
}

.sign_in {
  clear: both;
  display: block;
  width: 300px;
  height: 100px;
  background-color: red; 
  border-style: solid;
  text-align: center; 
  line-height: 100px;
  margin: 0 auto;
  
}

.display {
  float: left;
  display:inline-block;
}

.action {
  padding-left: 21px;
  display: inline-block;
}

.separator {
  clear: both;
}