
.global-header {
  box-shadow: 0 0 10px #333;
  font-size: 14px;
  line-height: 17px;
  color: #333;
  background-image: -webkit-linear-gradient(top, #696969 0%,#3f3f3f 100%);
  font-weight: normal;
  z-index: 10001;
  height: 45px;
  top: 0;
  width: 100%;
}

.links {
  padding-left: 4px;
  padding-right: 4px;
  line-height: 70px;
  color: #D7D7D7;
  text-decoration:none;
  }

#sign_in {
  float: right;
}

.error {
  color: #D7D7D7;
  text-decoration:none;
  border: 1px solid green;
}